{{!-- All code is based on the CS 340 starter code:
Date: 11/19/2024
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main  --}}

<!-- robots.hbs -->
<title>Robots</title><link rel="stylesheet" href="css/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{!-- Adding for trying to use jQuery to send a delete request --}}


<h1>Robots</h1>
{{!-- Navbar --}}
[  <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/products">Products</a> | <a href="/orders">Orders</a> | Robots | <a href="/shipmentContainers">Shipment Containers</a> | <a href="/ordersProducts">Orders/Products</a> ]

<h3>Browse Robots</h3>
<button class="btn" onclick="showInsert()">Add New Robot</button>  <button  class="btn" onclick=showUpdate()>Update a Robot</button>

{{!-- Form to add a record to the table  --}}
<div id="insert" style="display: none">
<form id="add-robot-ajax"> 
    <h3>Add a New Robot</h3>
    <p>To add a new robot, please enter their information below and click 'Submit'</p>
      
    <label for="input-isAvaliable">Status: </label>
    <select name="input-isAvaliable" id="input-isAvaliable" required>
      <option value="available">Available</option>
      <option value="unavailable">Unvailable</option>
    </select>
      
    <label for="input-robot-location">Current Location (x-coordinate, y-coordinate):</label> 
    <input type="text" name="input-robot-location" id="input-robot-location" placeholder= "x, y"  pattern="^\s*\d+\s*,\s*\d+\s*$" title="Enter coordinates as 'x, y' (e.g., 10, 10)" required>

    <input type="submit">
    <button id="cancel-btn-add" class="btn" type="button" value="Cancel" onClick="showBrowse()">Cancel</button>
</form>
</div> <!-- insert -->
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_robot.js"></script>

{{!-- Form to update the robot --}}
<div id="update" style="display: none">
<form id="update-robot-form-ajax">
<h3>Update a Robot</h3>
<p>Select a robot and update its information below.</p>
    <label for="select-robot">Robot ID: </label>
    <select name="select-robot" id="mySelectRobot" required>
        <option value="">Select a Robot</option>
        {{#each data}}
        <option value="{{this.robotID}}">{{this.robotID}}</option>
        {{/each}}
    </select>

    <label for="update-isAvailable">Status:</label> 
    <select name="update-isAvailable" id="update-isAvailable" required>
      <option value="">Select</option>
      <option value="available">Available</option>
      <option value="unavailable">Unavailable</option>
    </select>

    <label for="update-currentLocation">Current Location (x-coordinate, y-coordinate):</label> 
    <input type="text" name="update-currentLocation" id="update-currentLocation" placeholder= "x, y"  pattern="^\s*\d+\s*,\s*\d+\s*$" title="Enter coordinates as 'x, y' (e.g., 10, 10)" required>

    <input type="submit">
    <button  id="cancel-btn-update" type="button" value="Cancel" onClick="showBrowse()">Cancel</button>

</form>
</div>
<script src="./js/update_robot.js"></script>

<div id="browse" style="display: block">
  <table id="robot-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Robot ID</th>
            <th>Status</th>
            <th>Current Location (x, y)</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.robotID}}>
            <td>{{this.robotID}}</td>
            <td>{{this.status}}</td>
            <td>{{this.currentLocation}}</td>
            <td><button onclick="deleteRobot({{this.robotID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
  </table>
</div> <!-- browse -->
<script src="./js/delete_robot.js"></script>

<!-- /views/robots.hbs -->

